/* 使用 Roboto 字體 */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #2e6b67; /* 更改背景顏色 */
    color: #fff; /* 文字顏色為白色 */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

#toolbar {
    flex: 1;
    padding: 1em;
    border-right: 1px solid #ddd;
}

#map-container {
    flex: 5;
    height: calc(100vh - 150px); /* 將地圖高度設置為視窗高度減去預留的高度，這樣它將填充剩餘的空間 */
    border: 1px solid #ddd; /* 為地圖容器添加邊框 */
}

aside {
    flex: 2;
    border-left: 1px solid #ddd;
    padding: 1em;
}

footer {
    padding: 1em;
    background-color: #333333; /* 更改背景顏色 */
    color: #fff; /* 文字顏色為白色 */
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4CAF50; /* 更改按鈕背景顏色 */
    color: #fff; /* 按鈕文字顏色為白色 */
    transition: background-color 0.3s ease; /* 過渡效果 */
}

button:hover {
    background-color: #45a049; /* 滑鼠懸停時的背景顏色 */
}


select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

